
</div>

<footer class="footer-padding" id="footer">

<p class = "Copyright">© Copyright 2018 Vaishnavi V</p>
<p>
  <a href="https://www.linkedin.com/in/vaishnavi-v-a01b94147"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://github.com/Vaish-V"><i class="fab fa-github"></i></a>
</p>
</footer>


</body>
</html>
